{
    "aws_access_key": "ABCKEY",
    "aws_secret_key": "SECRETKEY",
    "aws_region": "us-east-1",
    "postgres_database": "postgres",
    "postgres_user": "postgres",
    "postgres_password": "P@ss",
    "postgres_host": "127.0.0.1",
    "postgres_port": "5432"    
}